//
//  TwitterCredentials.xcconfig
//  twitter
//
//  Created by Diego de Jesus Ramirez on 29/06/20.
//  Copyright © 2020 Emerson Malca. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_CONSUMER_KEY = 5lUJuO5AUpPUCez4ewYDFrtgh
API_CONSUMER_SECRET = s5ynGqXzstUZwFPxVyMDkYh197qvHOcVM3kwv1o2TKhS1avCdS
